@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: "Barriecito", system-ui;
}

body {
  background-color: #C6E1AC;
}

h1 {
  font-family: "Barriecito", system-ui;
  color:#EE7179;
  margin: auto;
}
canvas {
  display: block;
  margin:auto;
  margin-top: 5%;
}

a {
  font-family: "Barriecito", system-ui;
  margin-left: 70rem;
  margin-bottom: 90rem;
  text-decoration: none;
  color:#EE7179;
}


a:hover {
  background-color: darkgreen;
  color:azure;
  transform: scale(1.5);
}